@import url('../../styles/vars.css');
@import url('../../styles/reset.css');

body {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

body img {
  width: 300px;
  height: 300px;
}

body a {
  text-decoration: none;
  padding: 16px;
  background-color: var(--accent-primary);
  color: var(--text-secondary);
  border-radius: 8px;
}

body a:hover {
  background-color: var(--accent-hover);
}