:root {
--background: #f1eddf; /* Fundo principal (branco) */
--text: #222222; /* Texto principal (preto) */
--text-secondary: #ededed;
--accent-primary: #E0673C; /* Botões e destaques (Stir-Fry Carrot) */
--accent-hover: #b8703c; /* Hover de botões/links (Sesame Oil Amber) */
--highlight: #D9A441; /* Destaques e bordas (Ginger Gold) */
--success: #6FAE4F; /* Elementos positivos (Bok Choy Green) */
--warning: #8F2C1C; /* Alertas e CTAs fortes (Soy Glaze Red) */
--dark-detail: #5A381E; /* Detalhes escuros e sombras (Wok Brown) */
}