@import url('../../styles/vars.css');

header {
  position: fixed;
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid var(--dark-detail);
}

.header-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  
  display: flex; 
  justify-content: space-between;
}

.header-container nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-container nav h1 {
  margin-right: 24px;
}

.account {
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

.login-btn {
  padding: 8px 16px;
  background-color: var(--accent-primary);
  color: var(--text-secondary);
  font-weight: bold;
  border-radius: 8px;
}

.login-btn:hover {
  background-color: var(--accent-hover);
}

.register-btn:hover, .delivery-btn:hover, .restaurant-btn:hover {
  color: #000;
  text-decoration: underline;
}