@import url('../../styles/vars.css');

header {
  position: fixed;
  width: 100%;
  height: 7rem;
  background-color: var(--secondary-background);
  box-shadow: 1px 1px 5px var(--dark-detail);
}

.header-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  
  display: flex;
}

.header-container nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}